.Tower {
  position: absolute;
  z-index: 1;
}

.Enemy-Test {

  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.enemy_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
