.Enemy-Test {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  transition: top 1s, left 1s;

}
.enemy_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


